HaierMDM/2015年11月18日【供应商】【接口】开通GEMS供应商、银行接口/之前的接口更改/QueryVendorsInfoFromMDM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryVendorsInfoFromMDM" targetNamespace="http://www.example.org/QueryVendorsInfoFromMDM/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryVendorsInfoFromMDM/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/QueryVendorsInfoFromMDM/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryVendorsInfoFromMDM/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QueryVendorsInfoFromMDM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CurrentPage" type="xsd:int"/>
            <xsd:element name="StartTime" type="xsd:string"/>
            <xsd:element name="EndTime" type="xsd:string"/>
            <xsd:element name="Dept" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryVendorsInfoFromMDMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="tns:outType"/>
            <xsd:element name="header" type="tns:headerType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="outType">
        <xsd:sequence>
          <xsd:element name="ROW_ID" type="xsd:string"/>
          <xsd:element name="VENDOR_CODE" type="xsd:string"/>
          <xsd:element name="VENDOR_NAME" type="xsd:string"/>
          <xsd:element name="VENDOR_TYPE" type="xsd:string"/>
          <xsd:element name="VENDOR_LINKMAN" type="xsd:string"/>
          <xsd:element name="COUNTRY" type="xsd:string"/>
          <xsd:element name="VENDOR_ADDRESS" type="xsd:string"/>
          <xsd:element name="VENDOR_PHONE" type="xsd:string"/>
          <xsd:element name="VENDOR_EMAIL" type="xsd:string"/>
          <xsd:element name="LAST_UPD" type="xsd:dateTime"/>
          <xsd:element name="LAST_UPD_BY" type="xsd:string"/>
          <xsd:element name="DELETE_FLAG" type="xsd:string"/>
          <xsd:element name="BANK_MAINTAIN_FLAG" type="xsd:string">
      		</xsd:element>
          <xsd:element name="VAT_REG_NO" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="headerType">
        <xsd:sequence>
          <xsd:element name="CurrentPage" type="xsd:int"/>
          <xsd:element name="PageCount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QueryVendorsInfoFromMDMRequest">
    <WL5G3N0:part element="WL5G3N1:QueryVendorsInfoFromMDM" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryVendorsInfoFromMDMResponse">
    <WL5G3N0:part element="WL5G3N1:QueryVendorsInfoFromMDMResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QueryVendorsInfoFromMDM">
    <WL5G3N0:operation name="QueryVendorsInfoFromMDM">
      <WL5G3N0:input message="WL5G3N1:QueryVendorsInfoFromMDMRequest"/>
      <WL5G3N0:output message="WL5G3N1:QueryVendorsInfoFromMDMResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QueryVendorsInfoFromMDMSOAP" type="WL5G3N1:QueryVendorsInfoFromMDM">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QueryVendorsInfoFromMDM">
      <WL5G3N2:operation soapAction="http://www.example.org/QueryVendorsInfoFromMDM/QueryVendorsInfoFromMDM"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QueryVendorsInfoFromMDM">
    <WL5G3N0:port binding="WL5G3N1:QueryVendorsInfoFromMDMSOAP" name="QueryVendorsInfoFromMDMSOAP">
      <WL5G3N2:address location="http://10.135.1.198:7001/EAI/service/MDM/QueryVendorsInfoFromMDM/QueryVendorsInfoFromMDM"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>